.section{
    display: inline-block;
    display: flex;
    justify-content: center;
}
.section img{
    width:450px;
    height: 400px;
    border: 20px solid black;
}

.form-container{
    background: #fff;
    width: 600px;
    height: 450px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
    margin-right: 100px;
}

.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 80px;
    transition: transform 1s;
}

form input{
    width:250px;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline:none;
    
}
#LoginForm{
    left: -600px;
}

#RegForm{
    left:0px;
}

form a{
    font-size: 12px;
}
#Indicator{
    width:50%;
    border: none;
    background: #06a9e4;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

.btn{
    display: inline-block;
    background:  #045c84;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.form-item{
    width: 600px;
    display: flex;
    
}
.col1, .col2{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}